/* Basic Reset */
body{
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/*Sticky Navbar*/
.navbar{
    position: sticky;
    top: 0;
    background-color: aqua;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}

/*Page Selections*/
section {
  padding: 100px 20px;
  border-bottom: 1px solid #ccc;
}

h1 {
  margin-top: 0;
}

/* Extra content to make it scrollable */
.filler {
  height: 800px;
}